{% extends "question.html" %}
{% block auth-image %}{% endblock %}
{% block auth-info %}
<div class="container-fluid">
    <div class="row mt">
        <div class="col-6">
            <a href="{% url 'signup'%}">register</a>
        </div>
        <div class="col-6">
            <a href="{% url 'login'%}">log in</a>
        </div>
    </div>
</div>
{% endblock %}