{% load static %}

<div class="row question-container question-container-border">
    <div class="col-3">
        <div class="row justify-content-center">
            <img src="media/{{ answer.get_avatar }}" class="user-gravatar32">
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <p>{{ answer.comment }}</p>
        </div>
        <div class="row mb-0">
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Correct!
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>