{% extends "base.html" %}

{% block blogmain %}
    <div class="row">
        <div class="col-4">
            <h4>New question</h4>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <input type="text" class="rounded" name="title" required id="id_title">
            <div class="invalid-feedback">
                Please enter a title
            </div>
        </div>

        <div class="form-group row">
            <label for="comment" class="col-sm-2 col-form-label">Question</label>
            <textarea class="rounded" type="text" name="question_text" required id="id_question_text" rows="10" cols="50"></textarea>
                <div class="invalid-feedback">
                    Please enter a question
                </div>
        </div>

        <div class="form-group row">
            <label for="inputTags" class="col-sm-2 col-form-label">Tags</label>
            <input type="text" class="rounded" name="tag_list" required id="id_tag_list">
                <div class="invalid-feedback">
                    Please add tags
                </div>
        </div>

        <button class="btn btn-primary my-2 my-sm-0" type="submit">Ask!</button>
    </form>
{% endblock %}