{% load static %}

<html>
<head>
    <title>Forum</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/css_bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-grid.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-reboot.css" %}">
</head>
<body>
{% include 'inc/navbar.html' %}
<style>
    * {
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    }
</style>
<main role="main" class="container">
    {% block container %}
        <div class="row">
        <div class="col-md-8">
            {% block blogmain %}
            {% endblock %}
        </div><!-- /.blog-main -->

        {% include 'inc/sidebar.html' %}

    {% endblock %}
    </div>
</main>
{% block scripts %}
{% endblock %}
</body>
</html>
