{% extends "index.html"%}

{%block tag%}
    <div class="col-4 my-lg-3">
        <h4><a href="{% url 'hot' %}" class="font-italic">Hot Questions</a></h4>
    </div>
    <div class="col-8 my-lg-3">
        <h4><a href="{% url 'about' %}">New Questions</a></h4>
    </div>
{%endblock%}