{% extends "base.html" %}

{% load static %}

{% block blogmain %}
    <div class="row">
        {% block tag %}
            <div class="col-4 my-lg-3">
                <h4><a href="{% url 'about' %}" class="font-italic">New Questions</a></h4>
            </div>
            <div class="col-8 my-lg-3">
                <h4><a href="{% url 'hot' %}">Hot Questions</a></h4>
            </div>
        {% endblock %}
    </div>

    <div class="row my-lg-5">
        {% for question in questions %}
            {% include "inc/question_detail.html" %}
        {% endfor %}
    </div>

    <div class="row justify-content-center pag my-lg-5">
        <ul class="pagination">
            {%if questions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number}}">previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link">{{ questions.number }}</a></li>
            {% if questions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.paginator.num_pages }}">last</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/question_like.js'%}"></script>
{% endblock %}