{% extends "index.html"%}

{% block blogmain %}
    <div class="col-md-8 mx-auto my-lg-5">
        <form method="post" class="post-form">
            {% csrf_token %}
            <h4 class="h3 mb-3 font-weight-normal">Log in</h4>
            <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-4">
                    {{ form.username }}
                </div>
            </div>


            <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <button class="btn btn-primary" type="submit">Login!</button>
                </div>
            </div>
        </form>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"></label>
            <div class="col-sm">
                <a href="{% url 'signup' %}">Create new account</a>
            </div>
        </div>
    </div>
{% endblock %}