{% extends "base.html" %}

{% block blogmain %}
    <div class="row question-container question-container-border my-lg-3" style="width: 100%">
        <div class="col-3">
            <div class="row justify-content-center">
                {% load static %}
                <img src="media/{{ question.get_avatar }}" class="user-gravatar32">
            </div>
            <div class="row justify-content-center like-c">
                Likes: {{ question.total_likes }}
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <h3>{{ question.title }}</h3>
            </div>
            <div class="row">
                <p>{{ question.question_text }}</p>
            </div>
            <div class="row mb-0">
                <div class="col-8">
                    Tags:
                    {% for tag in question.tag.all %}
                        <a href="{% url 'tag' tag.id %}" methods="post"> {{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% for answer in answers %}
        {% include "answer.html" %}
    {% endfor %}

    {% if user.is_authenticated and user.is_active %}
        <form method="post" class="my-lg-1">
            {% csrf_token %}
            <div class="form-group">
                <div class="row mx-lg-3">
                    {#                    {{ form.comment }}#}
                    <textarea type="text" class="form-control" rows="5" cols="50" name="comment" required
                              id="id_comment"></textarea>
                </div>
            </div>
            <button class="btn btn-primary my-2 my-sm-0 mx-3" type="submit">Comment!</button>
        </form>
    {% endif %}

    <div class="row justify-content-center pag my-lg-5">
        <ul class="pagination">
            {% if answers.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}">previous</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link">{{ answers.number }}</a></li>
            {% if answers.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ answers.paginator.num_pages }}">last</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}