{% extends "index.html"%}
{% block blogmain %}
{% block tag %}
<div class="row qtype">
    <h4>Sign up:</h4>
    </div>
    {% endblock %}


    <form enctype="multipart/form-data" method="POST" class="post-form">
        {% csrf_token %}

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Login:</label>
            <div class="col-sm-4">
                {{ form.username }}
            </div>
            {% if form.username.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.username.errors }}</strong>
                </div>
            {% endif %}
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
                {{ form.email }}
            </div>
            {% if form.email.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.email.errors }}</strong>
                </div>
            {% endif %}
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nickname:</label>
            <div class="col-sm-4">
                {{ form.nickname }}
            </div>
            {% if form.nickname.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.nickname.errors }}</strong>
                </div>
            {% endif %}
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                {{ form.password }}
            </div>
            {% if form.password.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.password.errors }}</strong>
                </div>
            {% endif %}
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Repeat password:</label>
            <div class="col-sm-4">
               {{ form.confirm_password }}
            </div>
            {% if form.confirm_password.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.confirm_password.errors }}</strong>
                </div>
            {% endif %}
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Choose avatar:</label>
            <div class="col-sm-4">
                {{ form.avatar_path }}
            </div>
            {% if form.avatar_path.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.avatar_path.errors }}</strong>
                </div>
            {% endif %}
        </div>

        <button class="btn btn-primary my-2 my-sm-0" type="submit">Register!</button>
    </form>
 {% endblock %}