<div class="navbar-nav ">
  <div class="navbar-item">
    <div class='col-md-12'>
      {% load static %}
      <img class="user-gravatar32" src="media/{{ user.avatar_path }}">
    </div>
  </div>
</div>
<div class="navbar-item nav-custom-item">
    <div class="media-body">
        <h5 class="my-1 mx-5">{{ user.username }}</h5>
        <div class="row">
            <div class="col">
                <a href="{% url 'settings' %}">settings</a>
            </div>
            <div class="col">
                <a href="{% url 'logout' %}">log out</a>
            </div>
        </div>
    </div>
</div>