{% load static %}
<div class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="{% url 'about' %}" style="font-size: 200%; color: #0056b3">AskMichael</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <a class="button btn btn-outline-primary" href="{% url 'ask' %}">Ask!</a>
            </form>
        </div>
        {% if user.is_authenticated and user.is_active %}
            {% with user as user%}
                {% include 'inc/auth.html' %}
            {% endwith %}
        {% else %}
            {% with user as user%}
                {% include 'inc/noauth.html' %}
            {% endwith %}
        {% endif %}
    </div>
</div>