<div class="navbar-item nav-custom-item">
    <div class="container-fluid">
        <div class="row mt">
            <div class="col-6">
                <a href="{% url 'signup' %}">register</a>
            </div>
            <div class="col-6">
                <a href="{% url 'login' %}">log in</a>
            </div>
        </div>
    </div>
</div>