<div class="row question-container question-container-border question-q my-1" style="width: 100%">
    <form style="display: none" class="data-form">
        {% csrf_token %}
        <input type="hidden" value="{{ question.id }}" name="id">
    </form>
    <div class="col-3">
        <div class="row justify-content-center">
            {% load static %}
            <img src="media/{{ question.get_avatar }}" class="user-gravatar32">
        </div>
        <div class="button like like-q">
        </div>
        <div class="row justify-content-center like-c">
            Likes: {{ question.total_likes }}
        </div>
        <div class="button dislike dislike-q">
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <h3><a href="{% url 'question' question.id %}" methods="post"><font
                    face="axiformabold">{{ question.title }}</font></a></h3>
        </div>
        <div class="row">
            <p>{{ question.question_text }}</p>
            <div>created at: {{ question.create_at }}</div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="{% url 'question' question.id %}">answers({{ question.answer.count }})</a>
            </div>
            <div class="col-8">
                Tags:
                {% for tag in question.tag.all %}
                    <a href="{% url 'tag' tag.id %}" methods="post"> {{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>