<div class="col-md-4 col-md-offset-4">
    {% block aside %}
        <div class="row my-2 mx-2">
            <h2 class="font-weight-bold color-black">Popular tags</h2>
        </div>
        <div class="row mx-lg-4">
            <a href="#">C++</a>
        </div>
        {{ tag.name }}
        <div class="row mx-lg-4">
            <a href="#">Django</a>
        </div>
        <div class="row mx-lg-4">
            <a href="#">Python</a>
        </div>
        <div class="row mx-lg-4">
            <a href="#">Web</a>
        </div>

        <div class="row my-2 mx-2">
            <h2 class="font-weight-bold color-black mt-lg-4">Best Members</h2>
        </div>
        <div class="row mx-lg-4">
            <a href="">Mr. Laika</a>
        </div>
        <div class="row mx-lg-4">
            <a href="">Mrs. Bulldog</a>
        </div>
        <div class="row mx-lg-4">
            <a href="">Sir Husky</a>
        </div>
        <div class="row mx-lg-4">
            <a href="">Just a Wolf</a>
        </div>
    {% endblock %}
</div><!-- /.blog-sidebar -->